<template>
    <div id="app">
        <div class="selector-wrapper">
            <div class="label">
                <i class="far fa-hand-point-up"></i>
            </div>
            <div class="controls">
                <div class="label-for-input">Выберите место занятий</div>
                <Multiselect
                    v-model="selectedLocation"
                    :options="locationOptions"
                    label="name"
                    placeholder="Выберите место"
                    selectLabel=""
                    deselectLabel="Нажмите чтобы удалить"
                    selectedLabel="Выбрано"
                />

                <div class="label-for-input">Выбрите дату занятий</div>
                <v-date-picker
                    class="calendar-styles"
                    v-model="selectedDate"
                    :modelConfig="{
                        type: 'string',
                        mask: 'YYYY-MM-DD', // Uses 'iso' if missing
                    }"
                    is-range
                >
                    <template v-slot="{ inputValue, inputEvents }">
                        <div class="flex">
                            <input
                                :value="inputValue.start"
                                v-on="inputEvents.start"
                                class="calendar-input"
                                placeholder="Выберите дату"
                            />
                            <svg
                                style="width: 10px"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M14 5l7 7m0 0l-7 7m7-7H3"
                                />
                            </svg>
                            <input
                                :value="inputValue.end"
                                v-on="inputEvents.end"
                                class="calendar-input"
                            />
                        </div>
                    </template>
                </v-date-picker>
            </div>
        </div>
        <div v-if="dataLoading" class="spinner">
            <img src="./assets/spinner-animation.svg" alt="Data is loading" />
        </div>
        <transition name="slide-fade" mode="out-in">
            <div
                v-if="
                    !dataLoading &&
                    !Object.keys(reportsFiltered).length &&
                    loadedFirst
                "
                class="empty-list"
            >
                По вашему запросу нет результатов
            </div>
            <div
                v-if="!dataLoading && Object.keys(reportsFiltered).length"
                class="show-info"
            >
                <div
                    v-for="(coachKey, index) in Object.keys(reportsFiltered)"
                    :key="`report-info-${index}`"
                    class="card-wrapper-rel"
                >
                    <div class="card">
                        <div class="coach-name">{{ reportsFiltered[coachKey].coach }}</div>
                        <div
                            v-for="(date, dIndex) in Object.keys(reportsFiltered[coachKey].tasks)"
                            class="tasks"
                            :key="`report-task-info-${index}-${dIndex}`"
                        >
                            <div>Дата: {{ date }}</div>
                            <div style="margin-top: 8px">Работы: </div>
                            <ul>
                                <li 
                                    v-for="(task, tIndex) in reportsFiltered[coachKey].tasks[date].tasks"
                                    :key="`${date}-${tIndex}`"
                                >
                                    {{ task.done === "" || task.done === 2 ? "Не выполнено" : "Выполнено" }}
                                    <ul>
                                        <li style="list-style: none">Имя клиента: {{ task.client }}</li>
                                    </ul>
                                </li>
                            </ul>
                            <div style="margin-top: 8px">Статистика</div>
                            <ul>
                                <li style="list-style: none">Всего: {{ reportsFiltered[coachKey].tasks[date].stat.all }}</li>
                                <li class="done">Выполнено: {{ reportsFiltered[coachKey].tasks[date].stat.done }}(
                                    {{ ((reportsFiltered[coachKey].tasks[date].stat.done / reportsFiltered[coachKey].tasks[date].stat.all) * 100).toFixed(1) }}
                                    %)</li>

                                <li class="not-done">Не выполнено: {{ reportsFiltered[coachKey].tasks[date].stat.all - reportsFiltered[coachKey].tasks[date].stat.done }}(
                                {{ (100 - ((reportsFiltered[coachKey].tasks[date].stat.done / reportsFiltered[coachKey].tasks[date].stat.all) * 100)).toFixed(1) }}
                                %)</li>
                            </ul>
                            <div class="hr"></div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
import Axios from "axios";
import Multiselect from "vue-multiselect";

export default {
    name: "App",
    components: { Multiselect },
    data() {
        return {
            date: null,
            selectedLocation: null,
            locationOptions: [],
            selectedDate: null,
            reportsData: [],
            dataLoading: false,
            loadedFirst: false,
            nameDictionary: {},
        };
    },
    mounted() {
        this.getLocationOptions();
    },
    methods: {
        getLocationOptions() {
            Axios.get("/api/crm/api/sys/", {
                headers: {
                    Authorization: process.env.VUE_APP_NOT_SECRET_CODE,
                },
            }).then((res) => {
                this.locationOptions = res.data.location.map((loc) => {
                    return {
                        id_location: loc.yclients_num,
                        name: loc.location,
                    };
                });
            });
        },
        getReports() {
            if (!this.selectedLocation) return;

            this.dataLoading = true;
            Axios.get("/api/crm/api/coach/report/", {
                headers: {
                    Authorization: process.env.VUE_APP_NOT_SECRET_CODE,
                },
                params: {
                    from: this.selectedDate.start,
                    to: this.selectedDate.end,
                },
            })
                .then((res) => {
                    this.reportsData = res.data;
                })
                .finally(() => {
                    this.loadedFirst = true;
                    this.dataLoading = false;
                });
        },
    },
    computed: {
        reportsFiltered() {
            let filtered = {};

            for (let element of Object.keys(this.reportsData)) {
                let dates = [];
                let temp = this.reportsData[element].tasks
                    .filter(
                        (el) =>
                            el.studio_id == this.selectedLocation.id_location
                    )
                    .map((el) => {
                        const date = new Date(el.date);
                        const formatedDate = `${date.getFullYear()}-${date.getMonth()}-${date.getDate()}`;
                        if (!dates.includes(formatedDate))
                            dates.push(formatedDate);

                        return { ...el, date: formatedDate };
                    });

                if (temp.length > 0) {
                    for (let dateElement of dates) {
                        if (!filtered[element]) filtered[element] = {};
                        if (!filtered[element][dateElement])
                            filtered[element][dateElement] = [];

                        filtered[element][dateElement] = filtered[element][
                            dateElement
                        ].concat(temp.filter((el) => el.date == dateElement));
                    }
                }
            }

            const result = {};

            for (let keyCoach of Object.keys(filtered)) {
                result[keyCoach] = {
                    coach: this.reportsData[keyCoach].coach.name,
                    tasks: {},
                };

                for (let dateOne of Object.keys(filtered[keyCoach])) {
                    let temporary = filtered[keyCoach][dateOne];
                    let all = temporary.length;
                    let done = temporary.filter((el) => el.done === 1).length;

                    result[keyCoach].tasks[dateOne] = {
                        stat: {
                            all: all,
                            done: done,
                        },
                        tasks: temporary,
                    };
                }
            }

            return result;
        },
    },
    watch: {
        selectedDate: {
            handler() {
                this.getReports();
            },
            deep: true,
        },
    },
};
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="scss">
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    margin-top: 60px;
}

.label-for-input {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 48px;
    color: #37817d;
    text-align: left;
}

.calendar-styles {
    text-align: left;
}

.show-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    padding-top: 170px;

    .card-wrapper-rel {
        position: relative;
        margin-top: 10px;
        height: 200px;
        border-radius: 17px;

        .card {
            position: relative;
            box-shadow: 0 4px 12px 5px rgb(163 173 215 / 20%);
            padding: 20px;
            height: 154px;
                // height: auto;

            width: 350px;
            overflow: hidden;
            background: white;
            transition: all 0.4s ease;

            &:hover {
                height: auto;
                transition: all 0.4s ease;
                z-index: 10;
            }

            .coach-name {
                font-size: 20px;
                font-weight: bold;
            }
        }
    }
}

ul {
    margin: 0;
}

.selector-wrapper {
    position: absolute;
    z-index: 10;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #e7e7e7;
    overflow: hidden;
    transition: all 0.2s ease;

    &:hover {
        border-radius: 10px;
        width: 600px;
        height: 600px;
        transition: all 0.2s ease;
    }

    &:hover .controls {
        opacity: 1;
        transition: opacity 0.3s ease 0.2s;
    }

    .controls {
        opacity: 1;
        padding: 0 20px;
        transition: opacity 0.1s ease;
    }

    &:hover .label {
        display: none;
    }

    .label {
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
            font-size: 20px;
        }
    }
}

.hr {
    width: 80%;
    border-top: 1px solid grey;
    margin-top: 5px;
}

.done {
    width: 160px;
    background: #5bcd5b;
    border-radius: 6px;
    padding: 1px 4px 1px 4px;
    font-size: 14px;
    color: white;
}

.not-done {
    width: 180px;
    background: #b34321;
    border-radius: 6px;
    padding: 1px 4px 1px 4px;
    font-size: 14px;
    color: white;
}

.tasks {
    margin-top: 10px;
}

.spinner {
    display: flex;
    justify-content: center;
}

.empty-list {
    padding-top: 170px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: grey;
}

.calendar-input {
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    padding: 5px 0 5px 10px;

    &::placeholder {
        color: #adadad;
    }
}

.slide-fade-enter-active,
.slide-fade-leave-active {
    transition: all 0.5s ease;
}
.slide-fade-enter,
.slide-fade-leave-to {
    transform: translateY(20px);
    opacity: 0;
}
</style>
